<%- include('../partials/navbar'); %>

  <div id="chat">
    <ul id="messages">
      <%-  %> 
    </ul>
  </div>
  <hr />
  <form id="message_form">
    <input style="width: 90%" id="m" autocomplete="off" />
    <button>Send Message</button>
  </form>
</body>
</html>

<%- include('../partials/footer'); %>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chatroom.js"></script>

</body>
</html>
