<%- include('./partials/navbar'); %>
<section>
    <form id="form" action="/" method="POST">
        <div>
            <label for="topic">Topic</label>
            <input id="topic" name="topic" type="text" required>
        </div>
        <div>
            <label for="name">Name</label>
            <input id="name" name="name" type="text" required>
        </div>
        <div>
            <label for="phone_number">Phone Number (optional)</label>
            <input id="phone_number" name="phone_number" type="text">
        </div>
        <div>
            <label for="e_mail">E-mail</label>
            <input id="e_mail" name="e_mail" type="text" required>
        </div>
        <div>
            <label for="message">Message</label>
            <input id="message" name="message" type="text" required style="height:100px">
        </div>
        <button type="submit">Submit</button>
    </form>
</section>
<section class="get">
    <a href="/ticket-data">TICKET DATA</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>Topic: {{ this.topic }}</div>
                <div>Name: {{ this.name }}</div>
                <div>Phone Number: {{ this.phone_number }}</div>
                <div>E-mail: {{ this.e_mail }}</div>
                <div>Message: {{ this.message }}</div>
            </article>
        {{/each}}
    </div>
</section>



