#login{
  width:100vw;
  height: 100vh;
}

#chat{
  overflow:auto;
}

#login_form{
  border:1px solid red;
  left:50%;
  top:50%;
  margin:0 auto;
}

#message_form {
  background-color:rgb(216, 170, 118); padding: 8px 8px 8px 8px ;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 85vh;
}

#messages li {
  padding: 5px 10px;
}

.navbar, footer {
  background-color: #00adb5;
}