<h1>New Chatroom</h1>
<form action="/chatroom" method="post">
  <label for="title">Chat Title</label>
  <input type="text" name="title" id="title">
  <a href="/chatroom">Cancel</a>
  <button type="submit">Create</button>
</form>